.pokemon {
    background-color: var(--poke-color-bg-secondary);
    height: 100vh;
    border-radius: 5px;
}

.pokemon__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: var(--poke-color-type-one);
    
}

.pokemon__wrapper {
    
}

